<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="custom_signup">
            <label>Signup</label>
        </tab>
        <section id="custom_signup" showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="10">
            <tab>custom_signup</tab>
            <label>Signup</label>
            <resource>Alliance_Developers2::visibility</resource>
            <group id="general" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="1">
                <field id="signup_form_is_visible" sortOrder="1000" translate="label" type="select"  showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Signup Form Visibility</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
